{% include "templates/header.html" %}
<div>

<h1>About us</h1>

<h3>The Co-founders</h3>
<p>
We are two guys from Brisbane, Australia with a desire to make Economy 2.0 a reality.
DogeTunnel is our small contribution towards that future, it is our contribution towards a vibrant DOGE economy.


</p>

    <div class="media">
        <img class="media-object pull-right" data-src="" alt="Generic placeholder image">
        <div class="media-body">
            <h4 class="media-heading">James Brotchie</h4>
            <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
        </div>
        <img class="media-object pull-left" data-src="" alt="Generic placeholder image">
        <div class="media-body">
            <h4 class="media-heading">Christopher Poole</h4>
            <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
        </div>
    </div>

<h3>DogeTunnel</h3>
DogeTunnel is a low cost virtual private network (VPN) backing onto our custom crypto-currency payment and account keeping service. 
The idea is that the deposit address you use buy access to the network forms part of your login credentials.
There are no user profiles, no billing accounts, and no commitment; even providing an email address is optional.
Each account is designed to be throwaway if you don't want to use it more than once or twice. 


</div>
{% include "templates/footer.html" %}

