{% include "templates/header.html" %}
<div>

<h1>Resellers</h1>

<h3>Distributed Autonamous Corporations</h3>
<p>
A distributed autonamous corporation (DAC) is a business entity with without a central point of control, which automatically satisfys its supply needs given demand in exchange for a crypo-currency.
</p>

<h3>Resell DogeTunnel VPN</h3>
<p>
We want you to provide to the crypto-currency community what we can't.
The resellers API and associated infrastructure allows anyone to back onto our payment service and VPN, and sell the product at any price you like (minus our service fee) and using any crypto-currency you see fit!
We take care of all network and VPN service provision, and manage all payments.
Each transaction made from one of your customs that is processed by us sees coin deposited directly into our nominated address.
</p>

<h3>Reseller Ideas</h3>
Here are a few ideas to get you started.
Our API is currently capable of satisfying the requiremetns of any of these DAC propositions.
Our public facing website is fully open-sourced as well, so you can use that as a template to get going.

    </div class="row marketing">
        <div class="col-lg-6">
          <h4>Payments using other coins</h4>
          <p>We like DOGE, so that is what we are using, however our platform is capable of accepting payments and enabling VPN access in exchange for any crypto-currency derived from bitcoin. You set the price you want to sell VPN at, tap into our API, and we do the rest.</p>

          <h4>Custom OpenVPN client</h4>
          <p>What about a modification to the OpenVPN client that coninuously polls for an account balance. When some threshold is readched the account is automatically topped up.</p>

          <h4>Optimised bulk purchasing</h4>
          <p>Monitor the current spot price for VPN via our API, and bulk buy accounts at some threshold level. Resell these accounts for a mark-up.</p>
        </div>
    </div>
{% include "templates/footer.html" %}

