      <div class="footer">
        <ul class="nav nav-pills">
          <li><a href="/about.html">About Us</a></li>
          <li><a href="/contact.html">Contact</a></li>
          <li><a href="/terms.html">Terms &amp; Conditions</a></li>
          <li><a href="/resellers.html">DAC Resellers</a></li>
          <li><a href="/api.html">API</a></li>
        </ul>
        <span class="pull-right">{{ copyright }}</span>

    </div>

    </div> <!-- /container -->
    
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="js/jquery.validate.js"></script>    
    <script src="js/jquery.steps.js"></script>    
    <script src="js/dogetunnel.js"></script>    

    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
  </body>
</html>

