<!DOCTYPE html>
<html lang="en">
  
  <head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <meta name="viewport" content="width=480">

    <meta itemprop="name" content="{{ title }}" />
    <meta itemprop="description" content="{{ description }}" />
    <meta property="og:title" content="{{ title }}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ url }}" />
    <meta property="og:description" content="{{ description }}" />
    <meta property="og:image" content="{{ url }}/favicon.ico"/>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css">

    <!-- Google fonts -->
    <link href='http://fonts.googleapis.com/css?family=Russo+One' rel='stylesheet' type='text/css'>
 
    <!-- jQuery plugins -->
    <link href="stylesheets/jquery.steps.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="stylesheets/style.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

      <div class="container">
      <div class="container">
      <div class="header">
          <h3 class="text-muted pull-left"><a href="/">{{ logo }}</a></h3>

        <ul class="nav nav-pills pull-right">
          <li><a href="/account.html">Account Tools</a></li>
          <li><a href="/instructions.html">Instructions</a></li>
          <li><a href="/servers.html" class="alert-info">Servers</a></li>
        </ul>
      </div>
      </div>
 
